<section class="main-features parallax-section theme-overlay overlay-deep-white" style="background-image:url({{ asset('front/images/image-1.jpg') }});">
    <div class="auto-container">
        <div class="title-box text-center">
            <h1 class="fs-36">{{ app_title}}</h1>
            <h2>TRAVAILLER AVEC NOUS EN AIDANT ET EN FAISANT DES DON</h2>
            <div class="text">Toute aide financière compte donc dans la réalisation de nos actions auprès du public de Télimélé.</div>
            <div class="">
                <a class="theme-btn btn-style-four" href="#">Nous rejoindre</a>
                <a class="theme-btn btn-style-two" href="{{ path('front_don') }}">Faire un don</a>
            </div>
        </div>
    </div>
</section>