{% set pages=pageRepository.findBy({'published':1}) %}
{% set articles=articleRepository.lastPublished(0,2) %}
<footer class="main-footer" style="background-image:url({{ asset('front/images/footer-bg.jpg') }});">
    <div class="footer-upper">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-sm-6 col-xs-12 column m-btmx50">
                    <div class="footer-widget about-widget">
                        <h2>{{ app_name }}</h2>
                        <!-- <div class="logo">
                            <a href="{{ path('front_home') }}">
                                <img src="{{ asset("front/images/logo.png") }}" class="img-responsive" alt="{{ app_title }}">
                            </a>
                        </div>
                         <div class="text">
                            <p>{{ app_title }}</p>
                        </div>-->
                        <ul class="contact-info">
                            <li><span class="icon fa fa-map-marker"></span> {{ app_adresse }}</li>
                            <li><span class="icon fa fa-phone"></span> {{ app_phone }}</li>
                            <li><span class="icon fa fa-envelope-o"></span> {{ app_email }}</li>
                        </ul>
                        <div class="social-links-two clearfix">
                            <a href="#" class="facebook img-circle"><span class="fa fa-facebook-f"></span></a>
                            <a href="#" class="twitter img-circle"><span class="fa fa-twitter"></span></a>
                            <a href="#" class="google-plus img-circle"><span class="fa fa-google-plus"></span></a>
                            <a href="#" class="linkedin img-circle"><span class="fa fa-pinterest-p"></span></a>
                            <a href="#" class="linkedin img-circle"><span class="fa fa-linkedin"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12 column">
                    <h2>Qui sommes nous?</h2>
                    <div class="footer-widget links-widget">
                        <ul>
                            <li><a href="{{ path('front_articles',{'cat_slug':'projet'}) }}">Projets</a></li>
                            <li><a href="{{ path('front_articles',{'cat_slug':'news'}) }}">News</a></li>
                            <li><a href="{{ path('front_don') }}">Faire un don</a></li>
                            <li><a href="{{ path("front_contact") }}">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-6 col-xs-12 column">
                    <div class="footer-widget news-widget">
                        <h2>Dernières news</h2>
                        {% for article in articles %}
                            <div class="news-post">
                                <div class="icon"></div>
                                <div class="news-content">
                                    <figure class="image-thumb">
                                        <img src="{{ asset('upload/articles/'~article.image) }}" alt="{{ article.title }}">
                                    </figure>
                                    <a href="{{ path('front_article',{'cat_slug':article.category.slug,'slug':article.slug}) }}" title="{{ article.title }}">{{ article.title }}</a>
                                </div>
                                <div class="time">{{ article.createdAt | date_format_to_french("d M Y ") }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!--  <div class="col-lg-4 col-sm-6 col-xs-12 column">
                      <div class="footer-widget contact-widget">
                          <h2>Contact</h2>
                          <form action="inc/sendemail.php" class="contact-form" id="footer-cf">
                              <input type="text" name="name" placeholder="Full Name">
                              <input type="text" name="email" placeholder="Email Address">
                              <textarea name="message" placeholder="Your Message"></textarea>
                              <button type="submit">Send</button>
                          </form>

                      </div>
                  </div>-->
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="auto-container clearfix">
            <div class="copyright text-center">Copyright {{ 'now' | date('Y') }} ©
                <a href="https://ndalaba.com" title="Diallo Mamadou N'Dalaba">DMN.</a> -Tout droit reservé
            </div>
        </div>
    </div>
</footer>