{% set sections=sectionRepository.findAll() %}
<header class="header-style-two">
    <div class="header-top">
        <div class="auto-container clearfix">
            <div class="logo">
                <a href="{{ path('front_home') }}">
                    <img src="{{ asset("front/images/logo.png") }}" alt="{{ app_title }}"></a>
            </div>
            <div class="info-outer">
                <div class="info-box">
                    <div class="icon"><span class="flaticon-computer"></span></div>
                    <strong>EMAIL</strong>
                    <a href="mailt:{{ app_email }}">{{ app_email }}</a>
                </div>
                <div class="info-box">
                    <div class="icon"><span class="flaticon-technology-5"></span></div>
                    <strong>Appel</strong>
                    <a class="phone" href="#">{{ app_phone }}</a>
                </div>
                <div class="info-box social-box">
                    <div class="social-links clearfix">
                        <a href="#" class="facebook img-circle"><span class="fa fa-facebook-f"></span></a>
                        <a href="#" class="twitter img-circle"><span class="fa fa-twitter"></span></a>
                        <a href="#" class="google-plus img-circle"><span class="fa fa-google-plus"></span></a>
                        <a href="#" class="linkedin img-circle"><span class="fa fa-linkedin"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lower-part">
        <div class="auto-container clearfix">
            <div class="outer-box clearfix">
                <div class="btn-box">
                    <a href="{{ path('front_don') }}" class="theme-btn donate-btn" data-toggle="modal" data-target="#donate-popup">Faire un don</a>
                </div>
                <nav class="main-menu">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation">
                            <li><a href="{{ path('front_home') }}">Accueil</a></li>
                            {% for section in sections %}
                                {% set pages= section.pages %}
                                {% if pages | length %}
                                    <li class="dropdown"><a href="#">{{ section.title }}</a>
                                        <ul>
                                            {% for page in pages %}
                                                {% if page.published %}
                                                    <li>
                                                        <a href="{{ path('front_page',{"slug":page.slug}) }}">{{ page.title }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <li><a href="{{ path('front_partenaire') }}">Partenaires</a></li>
                            <li><a href="{{ path('front_register') }}">S'engager</a></li>
                            <li><a href="{{ path('front_events') }}">Evènements</a></li>
                            <li><a href="{{ path('front_contact') }}">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>