{% if pagination.page > 1 %}
<ul class="pagination pagination-sm no-margin pull-right">
    {% if pagination.page>1 %}
        <li>
            <a href="{{ path(pagination.route, pagination.route_params|merge({'page': 1})) }}"><i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i></a>
        </li>
        <li>
            <a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page-1})) }}"><i class="fa fa-chevron-left"></i></a>
        </li>
    {% endif %}
    {% for p in range(max(pagination.page-4, 1),  min(pagination.page+4, pagination.pages_count)) %}
        <li {% if p == pagination.page %} class="active"{% endif %}>
            <a href="{{ path(pagination.route, pagination.route_params|merge({'page': p})) }}">{{ p }} </a>
        </li>
    {% endfor %}
    {% if pagination.page<pagination.pages_count %}
        <li>
            <a href="{{ path(pagination.route,pagination.route_params|merge({'page': pagination.page+1})) }}"><i class="fa fa-chevron-right"></i></a>
        </li>
        <li>
            <a href="{{ path(pagination.route,pagination.route_params|merge({'page': pagination.pages_count})) }}"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></a>
        </li>
    {% endif %}
</ul>
{% endif %}