{% set eventColor=["fill-purple","fill-red",'fill-blue',"fill-orange","fill-riptide","fill-yellow","fill-green","fill-navy-blue","fill-purple","fill-red",'"fill-blue',"fill-orange","fill-riptide","fill-yellow","fill-green","fill-navy-blue","fill-purple","fill-red",'"fill-blue',"fill-orange","fill-riptide","fill-yellow","fill-green","fill-navy-blue","fill-purple","fill-red",'fill-blue',"fill-orange","fill-riptide","fill-yellow","fill-green","fill-navy-blue","fill-purple","fill-red",'"fill-blue',"fill-orange","fill-riptide","fill-yellow","fill-green","fill-navy-blue","fill-purple","fill-red",'"fill-blue',"fill-orange","fill-riptide","fill-yellow","fill-green","fill-navy-blue"] %}
<section class="xs-section-padding bg-gray">
    <div class="container">
        <div class="xs-heading row xs-mb-60">
            <div class="col-md-11 col-xl-11">
                <h2 class="xs-title">Notre équipe</h2>
                <span class="xs-separetor dashed"></span>
                <p>Les membres du bureau de L'{{ app_title }}</p>
            </div><!-- .xs-heading-title END -->
        </div><!-- .row end -->
        <div class="row xs-mb-60">
            {% for index,person in persons %}
                <div class="col-md-6 col-lg-3">
                    <div class="xs-single-team">
                        <img src="{{ asset('upload/persons/'~person.image) }}" alt="{{ person.name }}">
                        <div class="xs-team-content">
                            <h4>{{ person.name }}</h4>
                            <small>{{ person.fonction }}</small>
                            <svg class="xs-svgs" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 138">
                                <path class="{{ eventColor[index] }}" d="M375,3294H645v128a10,10,0,0,1-10,10l-250-20a10,10,0,0,1-10-10V3294Z" transform="translate(-375 -3294)"></path>
                            </svg>
                        </div><!-- .xs-team-content END -->
                    </div><!-- .xs-single-team END -->
                </div>
            {% endfor %}
        </div><!-- .row END -->
        {% if app.request.pathInfo!='/cidt/l-equipe' %}
        <div class="text-center">
            <a href="{{ path('front_persons') }}" class="btn btn-success">
                Toute l'équipe
            </a>
        </div>
        {% endif %}
    </div><!-- .container end -->
</section>    <!-- End team section -->