<section class="blog-news-section latest-news" style="background-color: #f5f5f5;">
    <div class="auto-container">

        <div class="sec-title text-center">
            <h2>Dernières <span class="normal-font theme_color">News</span></h2>
            <!--<div class="text">Lorem ipsum dolor sit amet, cum at inani interessetnisl omnium dolor amet amet qco modo cum text </div>-->
        </div>
        <div class="row clearfix">
            {% for article in articles %}
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <article class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            <a href="{{ path('front_article',{'cat_slug':article.category.slug,'slug':article.slug}) }}"><img src="{{ asset('upload/articles/'~article.image) }}" alt="{{ article.title }}"></a>
                            <div class="news-date">{{ article.createdAt | date_format_to_french("d") }}<span class="month">{{ article.createdAt | date_format_to_french("M") | upper }}</span></div>
                        </figure>
                        <div class="content-box">
                            <h3><a href="{{ path('front_article',{'cat_slug':article.category.slug,'slug':article.slug}) }}" title="{{ article.title }}">{{ article.title }}</a></h3>
                            <div class="post-info clearfix">
                                <div class="post-author">{{ article.user.name }}</div>
                                <div class="post-options clearfix">
                                    <a href="#" class="fav-count"><span class="icon flaticon-favorite-1"></span> {{ article.vue }}</a>
                                </div>
                            </div>
                            <div class="text">{{ article.extrait(150)  | raw}}</div>
                            <a href="{{ path('front_article',{'cat_slug':article.category.slug,'slug':article.slug}) }}" title="{{ article.title }}" class="theme-btn read-more">Lire</a>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
</section>