<section class="main-features parallax-section theme-overlay overlay-deep-white" style="background-image:url({{ asset('front/images/image-1.jpg') }});">
    <div class="auto-container">
        <div class="title-box text-center">
            <h1 class="fs-36">{{ app_name }}</h1>
            <h2>{{ app_title }}</h2>
            <div class="text">Parce que nous pensons que pour lutter efficacement contre les causes de la pauvreté il est indispensable d'impliquer tous les acteurs.</div>
            <div class="">
                <a class="theme-btn btn-style-four" href="#">S'engager</a>
                <a class="theme-btn btn-style-two" href="{{ path('front_don') }}">Faire un don</a>
            </div>
        </div>
    </div>
</section>