<section class="welcome-section bg-color-fc sec-padding77">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="column default-featured-column links-column col-lg-4 col-md-12">
                <article class="inner-box">
                    <div class="vertical-links-outer events-post">
                        <div class="events-post-dv text-uppercase bg-black-grey">
                            <h2 class="white_color fw-b fs-24">REJOIGNEZ
                                <span class="theme_color"> NOS ÉVÉNEMENTS</span> &amp; ET NOUS AIDER PAR UN DON</h2>
                        </div>
                        <div class="bx-event-carousel">
                            {% for event in events %}
                                <div class="link-block">
                                    <div class="default inner">
                                        <figure class="image-thumb">
                                            <img src="{{ asset('upload/events/'~event.image) }}" alt="{{ event.title }}">
                                        </figure>
                                        <h4 class="title">{{ event.title }}</h4>
                                        <ul class="event-held">
                                            <li>
                                                <i class="fa fa-clock-o"></i> {{ event.beginAt | date_format_to_french("h:i") }} - {{ event.endAt | date_format_to_french("h:i") }}
                                            </li>
                                            <li><i class="fa fa-map-marker"></i> {{ event.location }}.</li>
                                        </ul>
                                        <ul class="event-date">
                                            <li class="event-day">{{ event.beginAt | date_format_to_french("d") }}</li>
                                            <li class="event-month">{{ event.endAt | date_format_to_french("M") }}</li>
                                        </ul>
                                    </div>
                                    <div class="alternate">
                                        <p class="desc">{{ event.extrait(130)  | raw}}...</p>
                                        <a class="theme-btn btn-style-five btn-xs" href="{{ path('front_event',{'slug':event.slug}) }}">Détails</a>
                                        <a class="theme-btn btn-style-two btn-xs" href="{{ path('front_register') }}">Nous rejoindre</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-lg-8 col-md-12">
                <div class="row">
                    {% for projet in projets %}
                        <div class="column default-featured-column style-three col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <article class="inner-box">
                                <figure class="image-box">
                                    <a href="{{ path('front_article',{'cat_slug':projet.category.slug,'slug':projet.slug}) }}"><img src="{{ asset('upload/articles/'~projet.image) }}" alt="{{ projet.image }}"></a>
                                 <!--   <div class="post-tag"><span class="black_color roboto-font">30000+</span> Volunteer   </div>-->
                                </figure>
                                <div class="content-box">
                                    <h3><a href="{{ path('front_article',{'cat_slug':projet.category.slug,'slug':projet.slug}) }}">{{ projet.title }}</a></h3>
                                    <!--<div class="column-info">Join Our Volunteer &amp; Helping Us</div>-->
                                    <div class="text">{{ projet.extrait(100) | raw }}...</div>
                                    <a href="{{ path('front_don') }}" class="theme-btn btn-style-two btn-sm">Faire un don</a>
                                    <a href="{{ path('front_contact') }}" class="theme-btn btn-style-four btn-sm">Contact</a>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>
               <!-- <div class="row impact-wrp">
                    <div class="col-xs-12 col-sm-2">
                        <div class="impact-title">
                            <span class="normal-font theme_color fs-24">Notre</span>
                            <h2 class="fw-b fs-30 lh-30">IMPACT</h2>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-10">
                        <div class="two-column-fluid style-two">
                            <div class="icon-box">
                                <div class="icon"><span class="flaticon-shapes-1"></span></div>
                                <div class="lower-box">
                                    <h4>$<span data-speed="1500" data-stop="7845910" class="count-text">7,845,910</span>
                                    </h4>
                                    <span class="title">Raised</span>
                                </div>
                            </div>
                            <div class="icon-box">
                                <div class="icon"><span class="flaticon-tool-4"></span></div>
                                <div class="lower-box">
                                    <h4>$<span data-speed="1500" data-stop="13360" class="count-text">12,360</span></h4>
                                    <span class="title">Projects</span>
                                </div>
                            </div>
                            <div class="icon-box">
                                <div class="icon"><span class="flaticon-favorite"></span></div>
                                <div class="lower-box">
                                    <h4>$<span data-speed="1500" data-stop="78459" class="count-text">225,580</span>
                                    </h4>
                                    <span class="title">Donations</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</section>