<section class="main-slider revolution-slider">

    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="{{ asset('front/images/1.jpg') }}" data-saveperformance="off" data-title="Awesome Title Here">
                    <img src="{{ asset('front/images/1.jpg') }}" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <div class="tp-caption sfr sfb tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="-110" data-speed="1500" data-start="1000" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                        <h1><span class="normal-font">{{ app_name }}</span> </h1></div>
                    <div class="tp-caption sfl sfb tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="-20" data-speed="1500" data-start="1500" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                        <h3 class="bg-color">Nous avons besoin de votre appui!</h3></div>
                    <div class="tp-caption sfl sfb tp-resizeme text-center" data-x="center" data-hoffset="0" data-y="center" data-voffset="50" data-speed="1500" data-start="2000" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                        <div class="text">{{ app_title }}
                        </div>
                    </div>
                    <div class="tp-caption sfr sfb tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="130" data-speed="1500" data-start="2000" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                        <a href="{{ path('front_contact') }}" class="theme-btn btn-style-five margin-right-10">Nous contacter</a><a href="{{ path('front_don') }}" class="theme-btn btn-style-two">Faire un don</a>
                    </div>
                </li>
                <li data-transition="slidedown" data-slotamount="1" data-masterspeed="1000" data-thumb="{{ asset('front/images/2.jpg') }}" data-saveperformance="off" data-title="Awesome Title Here">
                    <img src="{{ asset('front/images/2.jpg') }}" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <div class="tp-caption sfl sfb tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="-120" data-speed="1500" data-start="500" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                        <h2 class="normal-font"><span>Help us</span> <strong class="theme_color">to save</strong></h2>
                    </div>
                    <div class="tp-caption sfr sfb tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="-30" data-speed="1500" data-start="1000" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                        <h2>the <span class="theme_color">Homeless</span> People</h2></div>
                    <div class="tp-caption sfl sfb tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="50" data-speed="1500" data-start="1500" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                        <h4>All of our afford can bring back the life</h4></div>
                    <div class="tp-caption sfr sfb tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="120" data-speed="1500" data-start="2000" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                        <a href="{{ path('front_contact') }}" class="theme-btn btn-style-five margin-right-10">Nous contacter</a><a href="{{ path('front_don') }}" class="theme-btn btn-style-two">Faire un don</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>