<section class="sponsors-section">
    <div class="auto-container">
        <div class="slider-outer">
            <!--Sponsors Slider-->
            <ul class="sponsors-slider">
                <li><a href="#"><img src="images/clients/logo-1.png" alt=""></a></li>
                <li><a href="#"><img src="images/clients/logo-2.png" alt=""></a></li>
                <li><a href="#"><img src="images/clients/logo-3.png" alt=""></a></li>
                <li><a href="#"><img src="images/clients/logo-4.png" alt=""></a></li>
                <li><a href="#"><img src="images/clients/logo-5.png" alt=""></a></li>
            </ul>
        </div>
    </div>
</section>