{% set section=sectionRepository.findOneBy({'slug':'activites'}) %}
<section class="main-features sec-padding61">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>{{ app_name }} <span class="normal-font theme_color">{{ section.title }}</span></h2>
            <div class="text">{{ section.description }}</div>
        </div>
        <div class="row clearfix">
            {% set icons=["flaticon-nature-1","flaticon-nature-11","flaticon-technology-13","flaticon-illumination","flaticon-summer-3","flaticon-nature-1","flaticon-nature-11","flaticon-technology-13","flaticon-illumination","flaticon-summer-3"] %}
            {% set pages = section.pages %}
            {% for index,page in pages %}
                {% if page.published %}
                    <div class="default-icon-column col-lg-4 col-md-6 col-xs-12">
                        <article class="inner-box text-center">
                            <div class="icon-box center">
                                <div class="icon"><span class="{{ icons[index] }}"></span></div>
                            </div>
                            <h3>
                                <a href="{{ path('front_page',{'slug':page.slug}) }}" title="{{ page.title }}">{{ page.title }}</a>
                            </h3>
                            <div class="text">{{ page.extrait(150)  | raw}}</div>
                        </article>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>