{% extends "admin/base.twig" %}
{% block title %} Sections  {{ app_title }} {% endblock %}
{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Sections
                <small>Pages</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Sections</li>
            </ol>
        </section>
        {% include "admin/inc/success_error.twig" %}
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">LISTE SECTIONS</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <th>Titre</th>
                                        <th>slug</th>
                                        <th>Action</th>
                                    </tr>
                                    {% for section in sections %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('admin_articles',{section:section.id,doaction:'Filtrer'}) }}"  title="{{ section.title }}">{{ section.title }}</a>
                                            </td>
                                            <td>{{ section.slug }}</td>
                                            <td>
                                                <a class="btn btn-primary btn-sm" href="{{ path('admin_edit_section',{uid:section.uid}) }}" title="{{ section.title }}"><i class="fa fa-pencil"></i></a>
                                                <a class="btn btn-sm delete" title="Supprimer le section?" href="{{ path('admin_delete_section',{uid:section.uid}) }}"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-6">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">EDITION D'UNE SECTION</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
                            <div class="form-group row">
                                <label class="col-sm-2 control-label">Section</label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.title,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="modal-footer text-left">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Enregistrer</button>
                                <a class="btn btn-default"  href="{{ path('admin_sections') }}"><i class="fa fa-times"></i> Annuler</a>
                            </div>
                            {{ form_end(form) }}
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}