<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ asset('upload/users/'~app.user.photo) }}" class="img-circle" alt="{{ app.user.name }}">
            </div>
            <div class="pull-left info">
                <p>{{ app.user.name }}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Rechercher...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview {% if app.request.pathInfo starts with '/admin/articles'  %} active {% endif %}">
                <a href="{{ path('admin_articles') }}">
                    <i class="fa fa-newspaper-o"></i> <span>Articles</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if app.request.pathInfo=='/admin/articles' %} active {% endif %}">
                        <a href="{{ path('admin_articles') }}"><i class="fa fa-circle-o"></i> Articles</a></li>
                    <li class="{% if app.request.pathInfo=='/admin/articles/add_article' %} active {% endif %}">
                        <a href="{{ path('admin_add_article') }}"><i class="fa fa-circle-o"></i> Nouvel article</a>
                    </li>
                   <!-- <li class="{% if app.request.pathInfo=='/admin/articles/videos' %} active {% endif %}">
                        <a href="{{ path('admin_videos') }}"><i class="fa fa-circle-o"></i> Vidéos</a>
                    </li>-->
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="{% if app.request.pathInfo=='/admin/articles/categories' %} active {% endif %}">
                            <a href="{{ path('admin_categories') }}"><i class="fa fa-circle-o"></i> Catégories</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
            <li class="treeview {% if app.request.pathInfo starts with '/admin/events' %} active {% endif %}">
                <a href="{{ path('admin_events') }}">
                    <i class="fa fa-calendar-check-o"></i> <span>Evènements</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if app.request.pathInfo=='/admin/events' %} active {% endif %}">
                        <a href="{{ path('admin_events') }}"><i class="fa fa-circle-o"></i> Evènements</a></li>
                    <li class="{% if app.request.pathInfo=='/admin/events/add_event' %} active {% endif %}">
                        <a href="{{ path('admin_add_event') }}"><i class="fa fa-circle-o"></i> Nouvel évènement</a>
                    </li>
                </ul>
            </li>
            <li class="treeview {% if app.request.pathInfo  starts with '/admin/partenaires' %} active {% endif %}">
                <a href="{{ path('admin_partenaires') }}">
                    <i class="fa fa-diamond"></i> <span>Partenaires</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if app.request.pathInfo=='/admin/partenaires' %} active {% endif %}">
                        <a href="{{ path('admin_partenaires') }}"><i class="fa fa-circle-o"></i> Partenaires</a></li>
                </ul>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="treeview {% if app.request.pathInfo starts with '/admin/pages' %} active {% endif %}">
                    <a href="{{ path('admin_pages') }}">
                        <i class="fa fa-file-o"></i> <span>Pages</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{% if app.request.pathInfo=='/admin/pages' %} active {% endif %}">
                            <a href="{{ path('admin_pages') }}"><i class="fa fa-circle-o"></i> Pages</a>
                        </li>
                        <li class="{% if app.request.pathInfo=='/admin/pages/sections' %} active {% endif %}">
                            <a href="{{ path('admin_sections') }}"><i class="fa fa-circle-o"></i> Sections</a>
                        </li>
                    </ul>
                </li>
                <li class="treeview {% if app.request.pathInfo starts with '/admin/persons' %} active {% endif %}">
                    <a href="{{ path('admin_persons') }}">
                        <i class="fa fa-user-secret"></i> <span>Organigramme</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{% if app.request.pathInfo=='/admin/persons' %} active {% endif %}">
                            <a href="{{ path('admin_persons') }}"><i class="fa fa-circle-o"></i> Organigramme</a></li>
                    </ul>
                </li>
            {% endif %}
            <li class="header">LABELS</li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="treeview {% if app.request.pathInfo starts with '/admin/members' %} active {% endif %}">
                    <a href="{{ path('admin_members') }}">
                        <i class="fa fa-user-plus"></i> <span>Membres</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{% if app.request.pathInfo=='/admin/members' %} active {% endif %}">
                            <a href="{{ path('admin_members') }}"><i class="fa fa-circle-o"></i> Membres
                                {% if deactivatedMember %}
                                    <span class="pull-right-container">
                                        <span class="label label-primary pull-right">{{ deactivatedMember | length }}</span>
                                    </span>
                                {% endif %}
                            </a></li>
                    </ul>
                </li>
                <li class="treeview {% if app.request.pathInfo starts with '/admin/users' %} active {% endif %}">
                    <a href="{{ path('admin_pages') }}">
                        <i class="fa fa-users"></i> <span>Utilisateurs</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{% if app.request.pathInfo=='/admin/users' %} active {% endif %}">
                            <a href="{{ path('admin_users') }}"><i class="fa fa-circle-o"></i> Utilisateurs</a></li>
                    </ul>
                </li>
            {% endif %}
            <li class="{% if app.request.pathInfo=='/admin/profils' %} active {% endif %}">
                <a href="{{ path('admin_profils',{uid:app.user.uid}) }}"><i class="fa fa-user-circle"></i> <span>Profils</span></a></li>
        </ul>
    </section>
</aside>