<footer class="main-footer">
    <div class="pull-right hidden-xs">
       2.4.0
    </div>
    <span>Copyright &copy;
    <script>
        document.write(new Date().getFullYear())
    </script> 
    <a href="http://www.ndalaba.com">DMN</a>.</span>
</footer>