<header class="main-header">
    <!-- Logo -->
    <a href="{{ path('admin_home') }}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>M</b>N</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>ADMIN</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user-plus"></i>
                        {% if deactivatedMember %}
                            <span class="label label-info">{{ deactivatedMember | length }}</span>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Vous avez {{ deactivatedMember | length }} nouveaux membres</li>
                        <li class="footer"><a href="{{ path('admin_members',{'todo':9999,'title':'','active':0,'doaction':'Filter'}) }}">Afficher les nouveaux membres</a></li>
                    </ul>
                </li>
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ asset('upload/users/'~app.user.photo) }}" class="user-image" alt="{{ app.user.name }}">
                        <span class="hidden-xs">{{ app.user.name }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('admin_profils',{uid:app.user.uid}) }}" title="Utilisateur depuis {{ app.user.createdAt | date('M Y') }}"><i class="fa fa-user-plus"></i> Modifier mon profil</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out"></i> Se déconnecter</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
    