{% if app.session.flashBag.keys | length %}
    <section class="content-header">
        {% for msg in app.session.flashBag.get('success') %}
            <div class="callout callout-success">
                <span>{{ msg }}</span>
            </div>
        {% endfor %}
        {% for msg in app.session.flashBag.get('error') %}
            <div class="callout callout-danger">
                <span>{{ msg }}</span>
            </div>
        {% endfor %}
        {% for msg in app.session.flashBag.get('info') %}
            <div class="callout callout-info">
                <span>{{ msg }}</span>
            </div>
        {% endfor %}
    </section>
{% endif %}