{{ form_start(form) }}
<div class="form-group row">
    <label class="col-sm-2 control-label">Nom</label>
    <div class="col-sm-10">
        {{ form_widget(form.name,{attr:{'class':'form-control','required':'required','placeholder':'Nom'}}) }}
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 control-label">Lien</label>
    <div class="col-sm-10">
        {{ form_widget(form.url,{attr:{'class':'form-control','required':'required','placeholder':'Lien'}}) }}
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 control-label">Ajouter une image</label>
    <div class="col-sm-10">
        {% if partenaire is defined %}
            <div class="image-thumbnail">
                <img src="{{ asset('upload/partenaires/'~partenaire.image) }}" alt="{{ partenaire.name }}" class="img-responsive">
            </div>
            <input type="hidden" value="{{ partenaire.image }}" name="previous_image">
            {{ form_widget(form.image) }}
        {% else %}
            {{ form_widget(form.image,{'required':'required'}) }}
        {% endif %}

    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 control-label">Etat</label>
    <label for="published" class="minimal col-sm-10">
        {{ form_widget(form.published) }}
        Publié(e)
    </label>
</div>
<div class="form-group row">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
        {{ form_widget(form.content,{attr:{'class':'form-control'}}) }}

    </div>
</div>
<div class="modal-footer text-left">
    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Enregistrer</button>
    <a class="btn btn-default" href="{{ path('admin_partenaires') }}"><i class="fa fa-times"></i> Annuler</a>
</div>
{{ form_end(form) }}