{% extends "admin/base.twig" %}
{% block title %} Partenaires  {{ app_title }} {% endblock %}
{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Partenaire header) -->
        <section class="content-header">
            <h1>
                Partenaires
                <small>Partenaires evènements {{ app_title  }}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Partenaires</li>
            </ol>
        </section>
        {% include "admin/inc/success_error.twig" %}
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-7">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Liste Partenaires</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Lien</th>
                                        <th>Image</th>
                                        <th>En ligne?</th>
                                        <th>Action</th>
                                    </tr>
                                    {% for partenaire in partenaires %}
                                        <tr>
                                            <td>
                                                <a href="#" target="_blank" title="{{ partenaire.name }}">{{ partenaire.name }}</a>
                                            </td>
                                            <td><a href="{{ partenaire.url }}" target="_blank">{{ partenaire.url }}</a></td>
                                            <td>
                                                <a href="{{ asset('upload/partenaires/'~partenaire.image) }}" target="_blank"><img width="50px" src="{{ asset('upload/partenaires/'~partenaire.image) }}" alt="{{ partenaire.name }}"></a>
                                            </td>
                                            {% if partenaire.published %}
                                                <td><i class="fa fa-circle text-green"></i></td>
                                            {% else %}
                                                <td><i class="fa fa-circle text-red"></i></td>
                                            {% endif %}
                                            <td>
                                                <a class="btn btn-primary btn-sm" href="{{ path('admin_edit_partenaire',{uid:partenaire.uid}) }}" title="{{ partenaire.name }}"><i class="fa fa-pencil"></i></a>
                                                <a class="btn btn-sm delete" title="Supprimer le partenaire?" href="{{ path('admin_delete_partenaire',{uid:partenaire.uid}) }}"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-5">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">EDITION D'UNE PARTENAIRE</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            {% include 'admin/partenaires/form.twig' %}
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}