{{ form_start(form,{attr:{'class':'form-horizontal'}}) }}
<div class="form-group row">
    <label class="col-sm-2 control-label">Titre</label>
    <div class="col-sm-10">
        {{ form_widget(form.title,{attr:{'class':'form-control','placeholder':'Titre vidéo'}}) }}
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 control-label">Catégorie</label>
    <div class="col-sm-10">
        {{ form_widget(form.category,{attr:{'class':'form-control'}}) }}
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 control-label">Lien video</label>
    <div class="col-sm-10">
        {{ form_widget(form.video,{attr:{'class':'form-control','placeholder':'Lien vidéo'}}) }}
    </div>
</div>
{% if is_granted('ROLE_ADMIN') %}
    <div class="form-group row">
        <label class="col-sm-2 control-label">En ligne ?</label>
        <label for="published" class="minimal col-sm-10">
            {{ form_widget(form.published) }}
        </label>
    </div>
{% endif %}
<div class="form-group row">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
        {{ form_widget(form.description,{attr:{'class':'form-control'}}) }}
    </div>
</div>
<div class="modal-footer text-left">
    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Enregistrer</button>
    <a class="btn btn-default" href="{{ path('admin_videos') }}"><i class="fa fa-times"></i> Annuler</a>
</div>
{{ form_end(form) }}