{% extends "admin/base.twig" %}
{% block title %} Edition d'un utilisateur {{ app.user.name }} {% endblock %}
{% block content %}

<div class="content-wrapper">
  <!-- Content Header (User header) -->
  <section class="content-header">
    <h1>
      Utilisateurs
      <small>Utilisateurs site</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{ path('admin_home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
      <li class="active">Utilisateurs</li>
    </ol>
  </section>
  {% include "admin/inc/success_error.twig" %}
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- /.col -->
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">EDITION D'UN UTILISATEUR</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            {{ form_start(form) }}
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Role</label>
              <div class="col-md-9">
                <select name="role" id="role" class="form-control" required>
                    <option value=""></option>
                    <option value="ROLE_EDITEUR">EDITEUR</option>
                    <option value="ROLE_ADMIN">ADMINISTRATEUR</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Nom</label>
              <div class="col-md-9">
                {{ form_widget(form.name,{'attr':{'class':"form-control"}}) }}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Email</label>
              <div class="col-md-9">
                {{ form_widget(form.email,{'attr':{'class':"form-control"}}) }}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Téléphone</label>
              <div class="col-md-9">
                {{ form_widget(form.phone,{'attr':{'class':"form-control"}}) }}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Adresse</label>
              <div class="col-md-9">
                {{ form_widget(form.location,{'attr':{'class':"form-control"}}) }}
              </div>
            </div>
            <div style="display: none">
              {{ form_widget(form.photo) }}
            </div>
            <div class="text-right">
              <input type="submit" class="btn btn-primary" value="Ajouter">
              <a class="btn btn-default" href="{{ path('admin_users') }}"><i class="fa fa-times"></i> Annuler</a>
            </div>
            {{ form_end(form) }}
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
{% endblock %}
