{{ form_start(form) }}
<div class="form-group row">
    <label class="col-md-3 form-control-label">Nom</label>
    <div class="col-md-9">
        {{ form_widget(form.name,{'attr':{'class':"form-control"}}) }}
    </div>
</div>
{% if is_granted('ROLE_ADMIN') %}
    <div class="form-group row">
        <label class="col-md-3 form-control-label">Role</label>
        <div class="col-md-9">
            <select name="role" id="role" class="form-control" required>
                <option value=""></option>
                <option value="ROLE_EDITEUR" {% if user.roles[0]=='ROLE_EDITEUR' %}selected{% endif %}>EDITEUR</option>
                <option value="ROLE_ADMIN" {% if user.roles[0]=='ROLE_ADMIN' %}selected{% endif %}>ADMINISTRATEUR</option>
            </select>
        </div>
    </div>
{% endif %}
<div class="form-group row">
    <label class="col-md-3 form-control-label">Email</label>
    <div class="col-md-9">
        {% if is_granted('ROLE_ADMIN') %}
            {{ form_widget(form.email,{'attr':{'class':"form-control"}}) }}
        {% else %}
            {{ form_widget(form.email,{'attr':{'disabled':'disabled','class':"form-control"}}) }}
        {% endif %}
    </div>
</div>
<div class="form-group row">
    <label class="col-md-3 form-control-label">Téléphone</label>
    <div class="col-md-9">
        {{ form_widget(form.phone,{'attr':{'class':"form-control"}}) }}
    </div>
</div>

<div class="form-group row">
    <label class="col-md-3 form-control-label">Adresse</label>
    <div class="col-md-9">
        {{ form_widget(form.location,{'attr':{'class':"form-control"}}) }}
    </div>
</div>
<div class="form-group row">
    <label class="col-md-3 form-control-label">Modifier votre photo</label>
    <div class="col-md-9">
        <input type="hidden" value="{{ form.vars.value.photo }}" name="previous_photo">
        {{ form_widget(form.photo) }}
    </div>
</div>

<div class="text-right">
    <input type="submit" class="btn btn-primary" value="Modifier">
</div>
{{ form_end(form) }}