{% extends "admin/base.twig" %}
{% block title %} Profil {{user.name}} {% endblock %}
{% block content %}

    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Profil {{ user.name }}
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{path('admin_home')}}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Profil</li>
            </ol>
        </section>
        {% include "admin/inc/success_error.twig" %}

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle" src="{{asset('upload/users/'~user.photo)}}"  alt="{{user.name}}">
                            <h3 class="profile-username text-center">{{user.name}}</h3>
                            <a href="#" class="btn btn-primary btn-block"><b>Suivre</b></a>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                    <!-- About Me Box -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">A propos</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">

                            <strong><i class="fa fa-map-marker margin-r-5"></i> Adresse</strong>

                            <p class="text-muted">{{app.user.location}}</p>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#settings" data-toggle="tab">Réglage</a></li>
                            <li><a href="#passwords" data-toggle="tab">Mot de passe</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="settings">
                               {% include "admin/users/edit_profil.twig" %}
                            </div>
                            <div class="tab-pane" id="passwords">
                                {% include "admin/users/edit_password.twig" %}
                             </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->
    </div>

{% endblock %}