<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset("admin/img/apple-icon.png") }}"/>
    <link rel="shortcut icon" href="{{ asset("front/images/favico.png") }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{{ app_title }} administration | {% block title %} {% endblock %}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="{{ asset("admin/css/bootstrap.min.css") }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset("admin/css/font-awesome.min.css") }}">

    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ asset("admin/css/ionicons.min.css") }}">

    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset("admin/css/AdminLTE.min.css") }}">

    <!-- AadminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ asset("admin/css/skins/_all-skins.min.css") }}">
    <link rel="stylesheet" href="{{ asset("admin/css/jquery-confirm.min.css") }}">
    <link rel="stylesheet" href="{{ asset("admin/plugins/iCheck/square/blue.css") }}">
    <link rel="stylesheet" href="{{ asset("admin/css/custom.css") }}">
    <!-- include summernote css/js -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="skin-blue fixed sidebar-mini">

<div class="wrapper">
    {% set deactivatedMember = member_repository.devalidated() %}

    {% include "admin/inc/header.twig" %}

    {% include "admin/inc/aside.twig" %}

    {% block content %}{% endblock %}

    {% include "admin/inc/footer.twig" %}
</div>

<script src="{{ asset("admin/js/jquery.min.js") }}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{ asset("admin/js/bootstrap.min.js") }}"></script>
<!-- SlimScroll -->
<script src="{{ asset("admin/js/jquery.slimscroll.min.js") }}"></script>
<!-- FastClick -->
<script src="{{ asset("admin/js/fastclick.js") }}"></script>
<!-- AadminLTE App -->
<script src="{{ asset("admin/js/adminlte.min.js") }}"></script>
<!-- AadminLTE for demo purposes -->
<script src="{{ asset("admin/js/jquery-confirm.min.js") }}"></script>
<script src="{{ asset("admin/plugins/iCheck/icheck.min.js") }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script src="{{ asset("admin/js/custom.js") }}"></script>
<script>
    $(document).ready(function () {
        $('.sidebar-menu').tree()
    })
</script>

</body>

</html>