{% extends "admin/base.twig" %}
{% block title %} Accueil  {{ app_title }} {% endblock %}
{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                TABLEAU DE BORD
                <small>D’un coup d’œil</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_home') }}"><i class="fa fa-dashboard"></i> ACCUEIL</a></li>
                <li class="active">Tableau de bord</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ articles }}</h3>
                            <p>Articles publiés</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-paper"></i>
                        </div>
                        <a href="{{ path('admin_articles',{category:3,doaction:'Filtrer'}) }}" class="small-box-footer">Details
                            <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{{ projets }}</h3>
                            <p>Projets publiés</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-cart"></i>
                        </div>
                        <a href="{{ path('admin_articles',{category:1,doaction:'Filtrer'}) }}" class="small-box-footer">Details
                            <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-lg-3 col-xs-6">
                        <div class="small-box bg-yellow">
                            <div class="inner">
                                <h3>{{ users_activated }}</h3>
                                <p>Membres actifs</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a href="{{ path('admin_users') }}" class="small-box-footer">Details
                                <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-xs-6">
                        <div class="small-box bg-red">
                            <div class="inner">
                                <h3>{{ pages }}</h3>
                                <p>Pages publiées</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                            <a href="{{ path('admin_pages') }}" class="small-box-footer">Details
                                <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                {% endif %}

                <!-- ./col -->
            </div>
        
        </section>
        <!-- /.content -->
    </div>
{% endblock %}