<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset("admin/img/apple-icon.png") }}"/>
    <link rel="icon" type="image/png" href="{{ asset('admin/img/favicon.ico') }}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{{ app_name }} | Connection au l'administration</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="{{ asset("admin/css/bootstrap.min.css") }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset("admin/css/font-awesome.min.css") }}">

    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ asset("admin/css/ionicons.min.css") }}">

    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset("admin/css/AdminLTE.min.css") }}">

    <link rel="stylesheet" href="{{ asset("admin/plugins/iCheck/square/blue.css") }}">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
        body{background-image: url("{{ asset('admin/img/login.png') }}")!important;}
        .login-box-body {background:rgba(255, 255, 255, 0.9098039215686274);}
        .login-logo a, .register-logo a{color: #FFFFFF}

    </style>
</head>

<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="{{ path('front_home') }}"><b>{{ app_name }}</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        {% if message is defined %}
            <h3 class="login-box-msg">{{ message }}</h3>
        {% else %}
            <h3 class="login-box-msg">Connexion à l'administration</h3>
        {% endif %}
        {% include "admin/inc/success_error.twig" %}
        {{ form_start(form) }}
        <div class="form-group has-feedback">
            {{ form_row(form._username) }}
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            {{ form_row(form._password) }}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="checkbox icheck">
                    <label>
                        <input type="checkbox" name="_remember_me" id="logged"/> Resté connecté
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-6">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Se connecter</button>
            </div>
            <!-- /.col -->
        </div>
        {{ form_end(form) }}
    </div>
    <!-- /.login-box-body -->
</div>

<script src="{{ asset("admin/js/jquery.min.js") }}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{ asset("admin/js/bootstrap.min.js") }}"></script>
<script src="{{ asset("admin/plugins/iCheck/icheck.min.js") }}"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' /* optional */
        });
    });
</script>
</body>

</html>