{{ form_start(form) }}

<div class="form-group row">
    <label class="col-sm-2 control-label">Titre</label>
    <div class="col-sm-10">
        {{ form_widget(form.title,{attr:{'class':'form-control','required':'required','placeholder':'Titre'}}) }}
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 control-label">Section</label>
    <div class="col-sm-10">
        {{ form_widget(form.section) }}
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 control-label">Ajouter une image</label>
    <div class="col-sm-10">
        {% if page is defined %}
            <div class="image-thumbnail">
                <img src="{{ asset('upload/pages/'~page.image) }}" alt="{{ page.title }}" class="img-responsive">
            </div>
            <input type="hidden" value="{{ page.image }}" name="previous_image">
            {{ form_widget(form.image) }}
        {% else %}
            {{ form_widget(form.image,{'required':'required'}) }}
        {% endif %}

    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 control-label">Etat</label>
    <label for="published" class="minimal col-sm-10">
        {{ form_widget(form.published) }}
        Publié(e)
    </label>
</div>
<div class="form-group row">
    <label class="col-sm-2 control-label">Contenu</label>
    <div class="col-sm-10">
        {{ form_widget(form.content,{attr:{'class':'form-control summernote'}}) }}

    </div>
</div>
<div class="modal-footer text-left">
    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Enregistrer</button>
    <a class="btn btn-default" href="{{ path('admin_pages') }}"><i class="fa fa-times"></i> Annuler</a>
</div>
{{ form_end(form) }}
