{% extends "admin/base.twig" %}
{% block title %} Pages  {{ app_title }} {% endblock %}
{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Pages
                <small>Page dynamique</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Pages</li>
            </ol>
        </section>
        {% include "admin/inc/success_error.twig" %}
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-5">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">LISTE PAGES</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <th>Titre</th>
                                        <th>Section</th>
                                        <th>En ligne?</th>
                                        <th>Action</th>
                                    </tr>
                                    {% for page in pages %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('front_page',{"slug":page.slug}) }}" target="_blank" title="{{ page.title }}">{{ page.title }}</a>
                                            </td>
                                            <td>
                                                {% if page.section is not null %}
                                                    {{ page.section.title }}
                                                {% endif %}
                                            </td>
                                            {% if page.published %}
                                                <td><i class="fa fa-circle text-green"></i></td>
                                            {% else %}
                                                <td><i class="fa fa-circle text-red"></i></td>
                                            {% endif %}
                                            <td>
                                                <a class="btn btn-primary btn-sm" href="{{ path('admin_edit_page',{uid:page.uid}) }}" title="{{ page.title }}"><i class="fa fa-pencil"></i></a>
                                                <a class="btn btn-sm delete" title="Supprimer la page?" href="{{ path('admin_delete_page',{uid:page.uid}) }}"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-7">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">EDITION D'UNE PAGE</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            {% include 'admin/pages/form.twig' %}
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}