{{ form_start(form) }}
<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <label class="col-sm-2 control-label">Titre</label>
            <div class="col-sm-10">
                {{ form_widget(form.title) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label">Contenu</label>
            <div class="col-sm-10">
                {{ form_widget(form.content) }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 control-label">Catégorie</label>
            <div class="col-sm-10">
                {{ form_widget(form.category) }}
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="form-group row">
            <label class="col-sm-2 control-label">Auteur</label>
            <div class="col-sm-10">
                <select name="user_id" id="user_id" class="form-control">
                    <option value=""></option>
                    {% for author in authors %}
                    <option value="{{ author.id }}" {% if form.vars.value.id and form.vars.value.user.id==author.id %}selected{% endif %}>{{ author.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label">En ligne ?</label>
            <label for="published" class="minimal col-sm-10">
                {{ form_widget(form.published) }}
            </label>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label">À la une ?</label>
            <label for="top" class="minimal col-sm-10">
                {{ form_widget(form.top) }}
            </label>
        </div>
        {% endif %}
        <div class="form-group row">
            <label class="col-sm-2 control-label">Ajouter une image</label>
            <div class="col-sm-10">
                {% if article is defined %}
                    <div class="image-thumbnail">
                        <img src="{{ asset('upload/articles/'~article.image) }}" alt="{{ article.title }}" class="img-responsive">
                    </div>
                    <input type="hidden" value="{{ article.image }}" name="previous_image">
                    {{ form_widget(form.image) }}
                {% else %}
                    {{ form_widget(form.image,{'required':'required'}) }}
                {% endif %}

            </div>
        </div>
    </div>
</div>
<div class="modal-footer text-left">
    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Enregistrer</button>
    <a class="btn" href="{{ path('admin_articles') }}"><i class="fa fa-times"></i> Annuler</a>
</div>
{{ form_end(form) }}
