{% extends "admin/base.twig" %}
{% block title %} Edition d'un article {% endblock %}
{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Article header) -->
        <section class="content-header">
            <h1>
                Actualités
                <small>Edition d'un article</small>
                <a href="{{ path('admin_articles') }}" class="btn btn-primary" style="margin-left: 20px"><i class="fa fa-list-alt"></i> Liste articles</a>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Articles</li>
            </ol>
        </section>
        {% include "admin/inc/success_error.twig" %}
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">EDITION D'UN ARTICLE</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            {% include 'admin/articles/edit_form.twig' %}
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}