{% extends 'front/base.twig' %}
{% block title %} {{ article.title }} | {{ app_title }}{% endblock %}
{% block ogtitle %}{{ article.title }} | {{ app_title }}{% endblock %}
{% block ogimage %}{{ app.request.getSchemeAndHttpHost() ~ asset('upload/articles/'~article.image) }}{% endblock %}
{% block ogurl %}{{ app.request.getSchemeAndHttpHost() ~ path('front_article',{'cat_slug':article.category.slug,slug:article.slug}) }}{% endblock %}
{% block ogdescription %}{{ article.getExtrait(300) | raw }}{% endblock %}
{% block ogauthor %}{{ article.user.name }}{% endblock %}
{% block content %}
    {% set last=articleRepository.lastPublished(0,4,article.category.id) %}
    {% set populars=articleRepository.populars(3,article.category.id) %}
    <section class="page-title" style="background-image:url(' {{ asset('front/images/page-title-bg.jpg') }}');">
        <div class="auto-container">
            <div class="sec-title">
                <h1>{{ article.title }}</h1>
                <div class="bread-crumb"><a href="{{ path('front_home') }}">Accueil</a> /
                    <a href="#" class="current">{{ article.title }}</a></div>
            </div>
        </div>
    </section>
    {% set currentArticle=article %}
    <div class="sidebar-page">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <section class="blog-news-section blog-detail no-padd-bottom no-padd-top padd-right-20">
                        <div class="column blog-news-column">
                            <article class="inner-box">
                                <figure class="image-box">
                                    <a href="{{ asset('upload/articles/'~article.image) }}"><img src="{{ asset('upload/articles/'~article.image) }}" alt="{{ article.title }}"></a>
                                    <div class="news-date">{{ article.createdAt | date_format_to_french("d") }}<span class="month">{{ article.createdAt | date_format_to_french("M") }}</span></div>
                                </figure>
                                <div class="content-box padd-top-30">
                                    <h3><a href="#">{{ article.title }}</a></h3>
                                    <div class="post-info clearfix">
                                        <div class="post-author">{{ article.user.name }}</div>
                                        <div class="post-options clearfix">
                                            <!--<a href="#" class="comments-count"><span class="icon flaticon-communication-2"></span> 6</a>-->
                                            <a href="#" class="fav-count"><span class="icon flaticon-favorite-1"></span> {{ article.vue }}</a>
                                        </div>
                                    </div>
                                    <div class="text">
                                        {{ article.content | raw | nl2br }}
                                    </div>
                                </div>

                                <div class="post-share-options clearfix">
                                    <div class="pull-left tags">
                                        <strong>Tag</strong> : <a href="{{ path('front_articles',{'cat_slug':article.category.slug}) }}"> {{ article.category.title }}</a>
                                    </div>
                                    <div class="pull-right social-links-two clearfix">
                                        <a href="{{ app.request.getSchemeAndHttpHost() ~ app.request.pathInfo }}" class="facebook img-circle  fb-share"><span class="fa fa-facebook-f"></span></a>
                                        <a href="{{ app.request.getSchemeAndHttpHost() ~ app.request.pathInfo }}" class="twitter img-circle tw-share"><span class="fa fa-twitter"></span></a>
                                        <a href="{{ app.request.getSchemeAndHttpHost() ~ app.request.pathInfo }}" class="google-plus img-circle gplus-share"><span class="fa fa-google-plus"></span></a>
                                        <a href="{{ app.request.getSchemeAndHttpHost() ~ app.request.pathInfo }}" class="linkedin img-circle li-share"><span class="fa fa-linkedin"></span></a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </section>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar">
                        <div class="widget search-box">
                            <form method="get" action="{{ path('front_article_recherche') }}">
                                <div class="form-group">
                                    <input type="search" name="q" value="" placeholder="Rechercher">
                                    <button type="submit"><span class="icon flaticon-tool-5"></span></button>
                                </div>
                            </form>
                        </div>
                        <div class="widget recent-posts wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="sidebar-title"><h3>Derniers(ères) {{ article.category.title }}</h3></div>
                            {% for article in last %}
                            {% if currentArticle.uid!=article.uid %}
                            <article class="post">
                                <figure class="post-thumb"><img src="{{ asset('upload/articles/'~article.image) }}" alt="{{ article.title }}"></figure>
                                <h4><a href="{{ path('front_article',{'cat_slug':article.category.slug,'slug':article.slug}) }}">{{ article.title }}</a></h4>
                                <div class="post-info"><span class="icon flaticon-people-1"></span> {{ article.user.name }}</div>
                            </article>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    {% include "front/inc/don.twig" %}
    <script>
        let popupCenter = function (url, title, width, height) {
            var popupWidth = width || 640;
            var popupHeight = height || 320;
            var windowLeft = window.screenLeft || window.screenX;
            var windowTop = window.screenTop || window.screenY;
            var windowWidth = window.innerWidth || document.documentElement.clientWidth;
            var windowHeight = window.innerHeight || document.documentElement.clientHeight;
            var popupLeft = windowLeft + windowWidth / 2 - popupWidth / 2;
            var popupTop = windowTop + windowHeight / 2 - popupHeight / 2;
            var popup = window.open(url, title, 'scrollbars=yes, width=' + popupWidth + ', height=' + popupHeight + ', top=' + popupTop + ', left=' + popupLeft);
            popup.focus();
            return true;
        };
        if (document.querySelector('.tw-share') != null) {
            document.querySelector('.tw-share').addEventListener('click', function (e) {
                e.preventDefault();
                var url = this.getAttribute('data-url');
                var shareUrl = "https://twitter.com/intent/tweet?text=" + encodeURIComponent(document.title) +
                    "&via=Marine Nationale" +
                    "&url=" + encodeURIComponent(url);
                popupCenter(shareUrl, "Partager sur Twitter");
            });

            document.querySelector('.fb-share').addEventListener('click', function (e) {
                e.preventDefault();
                var url = this.getAttribute('data-url');
                var shareUrl = "https://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(url);
                popupCenter(shareUrl, "Partager sur facebook");
            });

            document.querySelector('.gplus-share').addEventListener('click', function (e) {
                e.preventDefault();
                var url = this.getAttribute('data-url');
                var shareUrl = "https://plus.google.com/share?url=" + encodeURIComponent(url);
                popupCenter(shareUrl, "Partager sur Google+");
            });

            document.querySelector('.li-share').addEventListener('click', function (e) {
                e.preventDefault();
                var url = this.getAttribute('data-url');
                var shareUrl = "https://www.linkedin.com/shareArticle?url=" + encodeURIComponent(url);
                popupCenter(shareUrl, "Partager sur Linkedin");
            });
        }
    </script>
{% endblock %}