{% extends 'front/base.twig' %}
{% block title %}
    {% if category is defined %}
        {{ category.title }} | {{ app_title }}
    {% else %}
        {{ q }} | {{ app_title }}
    {% endif %}
{% endblock %}
{% block content %}
    <section class="page-title" style="background-image:url(' {{ asset('front/images/page-title-bg.jpg') }}');">
        <div class="auto-container">
            <div class="sec-title">
                <h1>
                    {% if category is defined %}
                        {{ category.title }}
                    {% else %}
                        {{ q }}
                    {% endif %}
                </h1>
                <div class="bread-crumb"><a href="{{ path('front_home') }}">Accueil</a> /
                    <a href="#" class="current">
                        {% if category is defined %}
                            {{ category.title }}
                        {% else %}
                            {{ q }}
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% if category is defined %}
        {% set last=articleRepository.populars(4,category.id) %}
    {% else %}
        {% set last=articleRepository.populars(4) %}
    {% endif %}
    <div class="sidebar-page">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <section class="blog-news-section no-padd-bottom no-padd-top padd-right-20">
                        {% for article in articles %}
                            <div class="column blog-news-column">
                                <article class="inner-box">
                                    <figure class="image-box">
                                        <a href="{{ asset('upload/articles/'~article.image) }}"><img src="{{ asset('upload/articles/'~article.image) }}" alt="{{ article.title }}"></a>
                                        <div class="news-date">{{ article.createdAt | date_format_to_french("d") }}
                                            <span class="month">{{ article.createdAt | date_format_to_french("M") }}</span>
                                        </div>
                                    </figure>
                                    <div class="content-box">
                                        <h3><a href="{{ path('front_article',{'cat_slug':article.category.slug,'slug':article.slug}) }}">{{ article.title }}</a></h3>
                                        <div class="post-info clearfix">
                                            <div class="post-author">{{ article.user.name }}</div>
                                            <div class="post-options pull-left clearfix">
                                                <!--<a href="#" class="comments-count"><span class="icon flaticon-communication-2"></span> 6</a>-->
                                                <a href="#" class="fav-count"><span class="icon flaticon-favorite-1"></span> {{ article.vue }}</a>
                                            </div>
                                        </div>
                                        <div class="text">{{ article.extrait(130) | raw }}</div>
                                        <a href="{{ path('front_article',{'cat_slug':article.category.slug,'slug':article.slug}) }}" class="theme-btn btn-style-three">Lire</a>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}
                        <div class="styled-pagination">
                            {% include 'front/inc/pagination.twig' %}
                        </div>
                    </section>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar">
                        <div class="widget search-box">
                            <form method="get" action="{{ path('front_article_recherche') }}">
                                <div class="form-group">
                                    <input type="search" name="q" value="" placeholder="Rechercher">
                                    <button type="submit"><span class="icon flaticon-tool-5"></span></button>
                                </div>
                            </form>
                        </div>
                        <div class="widget recent-posts wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="sidebar-title"><h3>Les plus populaires</h3></div>
                            {% for article in last %}
                                    <article class="post">
                                        <figure class="post-thumb">
                                            <img src="{{ asset('upload/articles/'~article.image) }}" alt="{{ article.title }}">
                                        </figure>
                                        <h4>
                                            <a href="{{ path('front_article',{'cat_slug':article.category.slug,'slug':article.slug}) }}">{{ article.title }}</a>
                                        </h4>
                                        <div class="post-info">
                                            <span class="icon flaticon-people-1"></span> {{ article.user.name }}</div>
                                    </article>
                            {% endfor %}
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    {% include "front/inc/don.twig" %}
{% endblock %}