<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Diallo Mamadou N'Dalaba">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto+Slab:400,700" rel="stylesheet">
    <link rel="shortcut icon" href="{{ asset('front/images/favicon.ico') }}">
    <title>{% block title %}{{ app_title }}{% endblock %}</title>
    <meta property="og:title" content="{% block ogtitle %}{{ app_title }}{% endblock %}"/>
    <meta property="og:image" content="{% block ogimage %}{{ app.request.getSchemeAndHttpHost() ~ asset('front/images/favico.png') }}{% endblock %}"/>
    <meta property="og:description" content="{% block ogdescription %}{{ app_title }}{% endblock %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="{{ app_name }}"/>
    <meta property="article:author" content="N'Dalaba Diallo"/>

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/revolution-slider.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/responsive.css') }}">
    {% endblock %}
</head>

<body>
    <div class="page-wrapper">
        <div id="preloader"></div>
        {% include "front/inc/header.twig" %}
        {% block content %}
        {% endblock %}
        {% include "front/inc/footer.twig" %}
    </div>
    <div class="scroll-to-top scroll-to-target" data-target=".page-wrapper"><span class="fa fa-long-arrow-up"></span></div>

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('front/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/revolution.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/jquery.bxslider.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/jquery.fancybox.pack.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/jquery.fancybox-media.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/owl.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/mixitup.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/wow.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/circle-progress.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/circle-progress.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/jquery.appear.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/jquery.countTo.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/script.js') }}"></script>
    {% endblock %}
</body>

</html>