{% extends 'front/base.twig' %}
{% block title %} Nous contacter | {{ app_title }}{% endblock %}
{% block content %}
        <section class="page-title" style="background-image:url(' {{ asset('front/images/page-title-bg.jpg') }}');">
            <div class="auto-container">
                <div class="sec-title">
                    <h1>Nous contacter</h1>
                    <div class="bread-crumb"><a href="{{ path('front_home') }}">Accueil</a> /
                        <a href="#" class="current">Nous contacter</a></div>
                </div>
            </div>
        </section>
        <section class="default-section other-info">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="column info-column col-lg-5 col-md-6 col-sm-12 col-xs-12">
                        <article class="inner-box">
                            <h3 class="margin-bott-20">Nous joindre</h3>
                            <div class="text margin-bott-40">Vous pouvez nous joindre à tout moment.</div>
                            <ul class="info-box">
                                <li>
                                    <span class="icon flaticon-location"></span><strong>Adresse</strong> {{ app_adresse }}
                                </li>
                                <li>
                                    <span class="icon flaticon-technology-5"></span><strong>Phone</strong> {{ app_phone }}
                                </li>
                                <li>
                                    <span class="icon flaticon-interface-1"></span><strong>Email</strong> {{ app_email }}
                                </li>
                            </ul>
                        </article>
                    </div>
                    <div class="column image-column col-lg-7 col-md-6 col-sm-12 col-xs-12">
                        <article class="inner-box">
                            <figure class="image-box"><img src="{{ asset('front/images/contact-1.jpg') }}" alt="{{ app_name }}"></figure>
                        </article>
                    </div>

                </div>
            </div>
        </section>
        <section class="contact-section no-padd-top">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="column map-column col-lg-5 col-md-6 col-sm-12 col-xs-12">
                        <h2>Notre localisation</h2>
                        <article class="inner-box">
                            <div class="map-container">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2615.1416049130175!2d1.9989438159721948!3d49.045931079306236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6f36ae91f7c5d%3A0x178e8801e1cdcb7e!2s20+Rue+du+Martin+P%C3%AAcheur%2C+95800+Courdimanche!5e0!3m2!1sfr!2sfr!4v1563441081329!5m2!1sfr!2sfr" width="100%" height="428" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </article>
                    </div>
                    <div class="column form-column col-lg-7 col-md-6 col-sm-12 col-xs-12">
                        <h2>Nous ecrire</h2>
                        <div id="result"></div>
                        <div class="inner-box contact-form">
                            <form method="post" action="{{ path('front_contact') }}" id="contact-form">
                                <div class="row clearfix">
                                    <div class="form-group col-md-6 col-xs-12">
                                        <input type="text" name="name" value="" placeholder="Votre nom" required/>
                                    </div>
                                    <div class="form-group col-md-6 col-xs-12">
                                        <input type="text" name="email" value="" placeholder="Votre email">
                                    </div>
                                    <div class="form-group col-md-12 col-xs-12">
                                        <textarea name="message" placeholder="Entrer votre message....." required></textarea>
                                    </div>
                                    <div class="form-group col-md-12 col-xs-12">
                                        <div class="text-right">
                                            <button type="submit" class="theme-btn btn-style-two">Envoyer</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="main-features parallax-section theme-overlay overlay-deep-white" style="background-image:url({{ asset('front/images/image-1.jpg') }});">
            <div class="auto-container">
                <div class="title-box text-center">
                    <h1 class="fs-36">{{ app_title }}</h1>
                    <h2>TRAVAILLER AVEC NOUS EN AIDANT ET EN FAISANT DES DON</h2>
                    <div class="text">Toute aide financière compte donc dans la réalisation de nos actions auprès du public de Télimélé.</div>
                    <div class="">
                        <a class="theme-btn btn-style-four" href="#">Nous rejoindre</a>
                        <a class="theme-btn btn-style-two" href="{{ path('front_don') }}">Faire un don</a>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
