{% extends 'front/base.twig' %}
{% block title %} Faire un don | {{ app_title }}{% endblock %}
{% block content %}
    <section class="page-title" style="background-image:url(' {{ asset('front/images/page-title-bg.jpg') }}');">
        <div class="auto-container">
            <div class="sec-title">
                <h1>Faire un don</h1>
                <div class="bread-crumb"><a href="{{ path('front_home') }}">Accueil</a> /
                    <a href="#" class="current">Don</a></div>
            </div>
        </div>
    </section>
    <section class="default-section tp-pb0">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="column image-column col-md-6 col-sm-12 col-xs-12">
                    <article class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <h2 class="xs-title">{{ app_name }} vit à travers les cotisations de ses membres ainsi que des dons de particuliers.</h2>
                    </article>
                </div>
                <!--Column-->
                <div class="column default-text-column with-margin col-md-6 col-sm-12 col-xs-12">
                    <article class="inner-box tp-mt10 wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="text">
                            Nous continuons à mener des projets en faveur des populations locales de Télimélé dont la réalisation nécessite des frais qu’une jeune association comme la nôtre peut difficilement assumer toute seule.

                            Toute aide financière compte donc dans la réalisation de nos actions auprès du public de Télimélé.

                            les <a href="{{ path('front_articles',{"cat_slug":'projets'}) }}" target="_blank">quelques projets</a> réalisés à travers les dons, le financement du Forim et les cotisations des membres
                        </div>
                    </article>
                </div>
            </div>
                {% set section=sectionRepository.findOneBy({'slug':'activites'}) %}
                {% set pages = section.pages %}
                <div class="row clearfix">
                    {% for index,page in pages %}
                        {% if page.published %}
                            <div class="column default-text-column col-md-4 col-sm-6 col-xs-12">
                                <div class="text-block">
                                    <h3>
                                        <a href="{{ path('front_page',{'slug':page.slug}) }}" title="{{ page.title }}">{{ page.title }}</a>
                                    </h3>
                                    <div class="text no-margin-bottom">
                                        {{ page.extrait(300)  | raw}}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
        </div>
    </section>
{% endblock %}