{% extends 'front/base.twig' %}
{% block title %}
    Evénements | {{ app_title }}
{% endblock %}
{% block content %}
    <section class="page-title" style="background-image:url(' {{ asset('front/images/page-title-bg.jpg') }}');">
        <div class="auto-container">
            <div class="sec-title">
                <h1>Evénements</h1>
                <div class="bread-crumb"><a href="{{ path('front_home') }}">Accueil</a> /
                    <a href="#" class="current">Evénements</a></div>
            </div>
        </div>
    </section>
    <div class="sidebar-page">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <section class="events-section events-list-section list-view">
                        {% for index,event in events %}
                            <div class="column default-featured-column style-two">
                                <article class="inner-box">
                                    <div class="row clearfix">
                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                            <figure class="image-box" style="max-height: 250px; overflow: hidden">
                                                <a href="{{ path('front_event',{'slug':event.slug}) }}"> <img src="{{ asset('upload/events/'~event.image) }}" alt="{{ event.title }}"></a>
                                                <div class="post-tag">{{ event.beginAt | date_format_to_french("d M Y") }}</div>
                                            </figure>
                                        </div>
                                        <div class="col-md-7 col-sm-7 col-xs-12">
                                            <div class="content-box">
                                                <h3><a href="{{ path('front_event',{'slug':event.slug}) }}">{{ event.title }}</a></h3>
                                                <ul class="event-held list-inline tp-mb15">
                                                    <li class="theme_color ">
                                                        <i class="black_color fa fa-clock-o"></i> {{ event.beginAt | date('h:i') }} - {{ event.endAt | date('h:i') }}
                                                    </li>
                                                    <li class="theme_color ">
                                                        <i class="black_color fa fa-map-marker"></i> {{ event.location }}
                                                    </li>
                                                </ul>
                                                <div class="text">{{ event.extrait(150) | raw }}...</div>
                                                <a href="{{ path('front_event',{'slug':event.slug}) }}" class="theme-btn btn-style-four btn-sm margin-right-10">Détails</a>
                                                <a href="{{ path('front_contact') }}" class="theme-btn btn-style-two btn-sm">Nous contacter</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}
                        <!-- Styled Pagination -->
                        <div class="styled-pagination">
                            {% include "front/inc/pagination.twig" %}
                        </div>
                    </section>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar">
                        <div class="widget search-box">
                            <form method="get" action="{{ path('front_article_recherche') }}">
                                <div class="form-group">
                                    <input type="search" name="q" value="" placeholder="Rechercher">
                                    <button type="submit"><span class="icon flaticon-tool-5"></span></button>
                                </div>
                            </form>
                        </div>
                        <div class="widget recent-posts wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="sidebar-title"><h3>Dernières news</h3></div>
                            {% for article in articles %}
                                <article class="post">
                                    <figure class="post-thumb">
                                        <img src="{{ asset('upload/articles/'~article.image) }}" alt="{{ article.title }}">
                                    </figure>
                                    <h4>
                                        <a href="{{ path('front_article',{'cat_slug':article.category.slug,'slug':article.slug}) }}">{{ article.title }}</a>
                                    </h4>
                                    <div class="post-info">
                                        <span class="icon flaticon-people-1"></span> {{ article.user.name }}</div>
                                </article>
                            {% endfor %}
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    {% include "front/inc/don.twig" %}
{% endblock %}