{% extends 'front/base.twig' %}
{% block title %} {{ event.title }} | {{ app_title }}{% endblock %}
{% block ogtitle %}{{ event.title }} | {{ app_title }}{% endblock %}
{% block ogimage %}{{ app.request.getSchemeAndHttpHost() ~ asset('upload/events/'~event.image) }}{% endblock %}
{% block ogurl %}{{ app.request.getSchemeAndHttpHost() ~ path('front_event',{slug:event.slug}) }}{% endblock %}
{% block ogdescription %}{{ event.getExtrait(300)  | raw }}{% endblock %}
{% block ogauthor %}{{ event.user.name }}{% endblock %}
{% block content %}
    <section class="page-title" style="background-image:url(' {{ asset('front/images/page-title-bg.jpg') }}');">
        <div class="auto-container">
            <div class="sec-title">
                <h1>{{ event.title }}</h1>
                <div class="bread-crumb"><a href="{{ path('front_home') }}">Accueil</a> /
                    <a href="#" class="current">{{ event.title }}</a></div>
            </div>
        </div>
    </section>
    <div class="sidebar-page">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <section class="events-section event-details no-padd-bottom no-padd-top padd-right-20">
                        <div class="column default-featured-column style-two">
                            <article class="inner-box">
                                <figure class="image-box" style="max-height: 400px; overflow: hidden">
                                    <a href="{{ asset('upload/events/'~event.image) }}"><img src="{{ asset('upload/events/'~event.image) }}" alt="{{ event.title }}"></a>
                                </figure>
                                <div class="content-box padd-top-40">
                                    <div class="row detail-header clearfix">
                                        <div class="col-md-8 col-sm-12">
                                            <h3 class="fs-28"><a href="#">{{ event.title }}</a></h3>
                                            <ul class="event-held list-inline">
                                                <li class="theme_color ">
                                                    <i class="black_color fa fa-clock-o tp-mr5"></i>  {{ event.beginAt | date('h:i') }} - {{ event.endAt | date('h:i') }}
                                                </li>
                                                <li class="theme_color ">
                                                    <i class="black_color fa fa-map-marker tp-mr5"></i> {{ event.location }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-sm-12 pull-right text-right">
                                            <a href="{{ path('front_contact') }}" class="theme-btn btn-style-two">Nous contacter</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="text">
                                        {{ event.content | raw }}
                                        <br><br>
                                        <div class="other-info">
                                            <div class="row clearfix">
                                                <!--Info Column-->
                                                <div class="info-column column col-md-6 col-xs-12">
                                                    <h3>Détails évènements</h3>
                                                    <div class="text"></div>
                                                    <ul class="info-box">
                                                        <li>
                                                            <span class="icon fa fa-map-marker"></span><strong>Lieu</strong> {{ event.location }}
                                                        </li>
                                                        <li>
                                                            <span class="icon fa fa-calendar"></span><strong>Date</strong> {{ event.beginAt | date_format_to_french("d M Y") }} - {{ event.endAt | date_format_to_french("d M Y") }}
                                                        </li>
                                                        <li>
                                                            <span class="icon fa fa-clock-o"></span><strong>Heure</strong> {{ event.beginAt | date('h:i') }} - {{ event.endAt | date('h:i') }}
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!--<div class="map-column column col-md-6 col-xs-12">
                                                    <div class="map-container">
                                                        <div class="map-canvas" data-zoom="12" data-lat="-37.817085" data-lng="144.955631" data-type="roadmap" data-hue="#ffc400" data-title="Envato" data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>" style="height: 300px;">
                                                        </div>
                                                    </div>
                                                </div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </section>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar">
                        <div class="widget search-box">
                            <form method="get" action="{{ path('front_article_recherche') }}">
                                <div class="form-group">
                                    <input type="search" name="q" value="" placeholder="Rechercher">
                                    <button type="submit"><span class="icon flaticon-tool-5"></span></button>
                                </div>
                            </form>
                        </div>
                        <div class="widget recent-posts wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="sidebar-title"><h3>Dernières news</h3></div>
                            {% for article in articles %}
                                    <article class="post">
                                        <figure class="post-thumb">
                                            <img src="{{ asset('upload/articles/'~article.image) }}" alt="{{ article.title }}">
                                        </figure>
                                        <h4>
                                            <a href="{{ path('front_article',{'cat_slug':article.category.slug,'slug':article.slug}) }}">{{ article.title }}</a>
                                        </h4>
                                        <div class="post-info">
                                            <span class="icon flaticon-people-1"></span> {{ article.user.name }}</div>
                                    </article>
                            {% endfor %}
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    {% include "front/inc/don.twig" %}
{% endblock %}