{% extends 'front/base.twig' %}
{% block content %}
    {% include 'front/inc/home/home_slide.twig' %}
    {% include 'front/inc/home/home_project.twig' %}
    {% include 'front/inc/home/home_mission.twig' %}
    {% include 'front/inc/home/home_news.twig' %}
    {% include 'front/inc/home/home_don.twig' %}
{% endblock %}
