{% extends 'front/base.twig' %}
{% block title %} {{ page.title }} | {{ app_title }}{% endblock %}
{% block ogtitle %}{{ page.title }} | {{ app_title }}{% endblock %}
{% block ogimage %}{{ app.request.getSchemeAndHttpHost() ~ asset('upload/pages/'~page.image) }}{% endblock %}
{% block ogurl %}{{ app.request.getSchemeAndHttpHost() ~ path('front_page',{slug:page.slug}) }}{% endblock %}
{% block ogdescription %}{{ page.getExtrait(300) | raw }}{% endblock %}
{% block content %}
    <section class="page-title" style="background-image:url(' {{ asset('front/images/page-title-bg.jpg') }}');">
        <div class="auto-container">
            <div class="sec-title">
                <h1>{{ page.title }}</h1>
                <div class="bread-crumb"><a href="{{ path('front_home') }}">Accueil</a> /
                    <a href="#" class="current">{{ page.title }}</a></div>
            </div>
        </div>
    </section>
    <section class="default-section tp-pb0">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="column image-column col-md-6 col-sm-12 col-xs-12">
                    <article class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <figure class="image-box video-box">
                            <img src="{{ asset('upload/pages/'~page.image) }}" alt="{{ page.title }}">
                            <!--<a href="https://www.youtube.com/watch?v=OrJKD11Rmdg" class="lightbox-image video-link"><div class="icon-outer"><span class="img-circle fa fa-play"></span></div></a>-->
                        </figure>
                    </article>
                </div>
                <!--Column-->
                <div class="column default-text-column with-margin col-md-6 col-sm-12 col-xs-12">
                    <article class="inner-box tp-mt10 wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="text page_content_scroll">
                            {{ page.content | raw }}
                        </div>
                    </article>
                </div>
            </div>
            {% if page.uid=='5d2cb3c11984e'  or page.section.uid=='5d4180766f2a6' %}
                {% set section=sectionRepository.findOneBy({'slug':'activites'}) %}
                {% set pages = section.pages %}
                <div class="row clearfix">
                    {% for index,page in pages %}
                        {% if page.published %}
                            <div class="column default-text-column col-md-4 col-sm-6 col-xs-12">
                                <div class="text-block">
                                    <h3>
                                        <a href="{{ path('front_page',{'slug':page.slug}) }}" title="{{ page.title }}">{{ page.title }}</a>
                                    </h3>
                                    <div class="text no-margin-bottom">
                                        {{ page.extrait(300)  | raw }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
    {% if page.uid=='5d2cb3c11984e' %}
        <section class="team-section">
            <div class="auto-container">
                <div class="sec-title text-center">
                    <h2>Notre <span class="normal-font theme_color">Équipes</span></h2>
                    <div class="text">Les membres du bureau de La {{ app_name }} </div>
                </div>
                <div class="row clearfix">
                    {% for index,person in persons %}
                        <article class="column team-member col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image">
                                    <a href="#"><img src="{{ asset('upload/persons/'~person.image) }}" alt="{{ person.name }}"></a>
                                </figure>
                                <div class="member-info">
                                    <h3>{{ person.name }}</h3>
                                    <div class="designation">{{ person.name }}</div>
                                </div>
                                <div class="content">
                                    <div class="text">
                                        <p>{{ person.content }}</p>
                                    </div>
                                    <!--<div class="social-links">
                                        <a href="#"><span class="fa fa-facebook-f"></span></a>
                                        <a href="#"><span class="fa fa-twitter"></span></a>
                                        <a href="#"><span class="fa fa-google-plus"></span></a>
                                        <a href="#"><span class="fa fa-linkedin"></span></a>
                                    </div>-->
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    {% include "front/inc/don.twig" %}
{% endblock %}