{% extends 'front/base.twig' %}
{% block title %} Nos partenaires| {{ app_title }}{% endblock %}
{% block ogtitle %} Nos partenaires| {{ app_title }}{% endblock %}
{% block content %}
    <section class="page-title" style="background-image:url(' {{ asset('front/images/page-title-bg.jpg') }}');">
        <div class="auto-container">
            <div class="sec-title">
                <h1>Nos partenaires</h1>
                <div class="bread-crumb"><a href="{{ path('front_home') }}">Accueil</a> /
                    <a href="#" class="current">Nos partenaires</a></div>
            </div>
        </div>
    </section>
    <section class="testimonials-section bg-color-f5">
        <div class="auto-container">

            <div class="testimonials-slider testimonials-carousel">
                {% for  partenaire in partenaires %}
                    <article class="slide-item">
                        <div class="info-box">
                            <figure class="image-box">
                                <img src="{{ asset('upload/partenaires/'~partenaire.image) }}" alt="{{ partenaire.name }}">
                            </figure>
                            <h3>{{ partenaire.name }}</h3>
                            <p class="designation">Rome, Italy</p>
                        </div>

                        <div class="slide-text">
                            <p>{{ partenaire.content }}</p>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>

    {% include "front/inc/don.twig" %}
{% endblock %}