{% extends 'front/base.twig' %}
{% block title %} L'équipe| {{app_title}}{% endblock %}
{% block ogtitle %} L'équipe| {{app_title}}{% endblock %}
{% block content %}

    <section class="xs-banner-inner-section parallax-window" style="background-image:url(' {{ asset('front/images/team_bg.jpg') }}')">
        <div class="xs-black-overlay"></div>
        <div class="container">
            <div class="color-white xs-inner-banner-content">
                <h2>Nos membres</h2>
                <p>Les membres de L'{{ app_title }}</p>
                <ul class="xs-breadcumb">
                    <li class="badge badge-pill badge-primary">
                        <a href="{{ path('front_home') }}" class="color-white"> Accueil /</a> Les membres
                    </li>
                </ul>
            </div>
        </div>
    </section>
    {% include "front/inc/persons.twig" %}
    <section class="bg-navy-blue xs-section-padding">
        <div class="container-fulid">
            <div class="xs-feature-content-v2">
                <h2 class="color-white">
                    {{ app_name }}, c'est participer à des <span>projets </span> qui se déroulent à Télémélé, vous pouvez y contribuer.
                </h2>
            </div><!-- .xs-feature-content END -->
        </div><!-- .container-fulid end -->
    </section>
    {% include "front/inc/home/home_partenaire.twig" %}
{% endblock %}