{% extends 'front/base.twig' %}
{% block title %}  Réjoindre la {{ app_name }} | {{ app_title }}{% endblock %}
{% block content %}
    <section class="page-title" style="background-image:url(' {{ asset('front/images/page-title-bg.jpg') }}');">
        <div class="auto-container">
            <div class="sec-title">
                <h1>Nous rejoindre</h1>
                <div class="bread-crumb"><a href="{{ path('front_home') }}">Accueil</a> /
                    <a href="#" class="current">Nous rejoindre</a></div>
            </div>
        </div>
    </section>
    <div class="sidebar-page">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <section class="blog-news-section blog-detail no-padd-bottom no-padd-top padd-right-20">
                        <div class="column blog-news-column">
                            <article class="inner-box">
                                <div class="content-box padd-top-30" style="height: auto">
                                    <h3><a href="#">{{ page.title }}</a></h3>
                                    <div class="text">
                                        {{ page.content | raw | nl2br  }}
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="comment-form wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="group-title text-uppercase">
                                <h2>S'enregistrer</h2>
                                <div id="result"></div>
                                <div class="default-line-left"></div>
                            </div>
                            <form method="post" action="{{ path('front_register') }}" id="register_form">
                                <div class="row clearfix">
                                    <div class=" col-lg-7 col-md-6 col-sm-12 col-xs-12 form-group">
                                        <input type="text" name="name" id="name" placeholder="Nom et prénom" required>
                                    </div>
                                    <div class=" col-lg-5 col-md-6 col-sm-12 col-xs-12 form-group">
                                        <input type="email" name="email"  id="email" placeholder="Email" required>
                                    </div>
                                    <div class=" col-lg-7 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <input type="text" name="phone" id="phone" placeholder="Votre téléphone" required>
                                    </div>
                                    <div class=" col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <input type="text" name="age" id="age" placeholder="Votre age" required>
                                    </div>
                                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <input type="text" name="adresse" id="adresse" placeholder="Votre adresse" required>
                                      <!--  <textarea name="adresse"  id="adresse" placeholder="votre adresse" required></textarea>-->
                                    </div>
                                    <div class=" col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <input type="text" name="country" id="country" placeholder="Votre pays" required>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <button class="theme-btn btn-style-two" type="submit" name="submit-form">Envoyer</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <section class="main-features parallax-section theme-overlay overlay-deep-white" style="background-image:url({{ asset('front/images/image-1.jpg') }});">
        <div class="auto-container">
            <div class="title-box text-center">
                <h1 class="fs-36">{{ app_title }}</h1>
                <h2>TRAVAILLER AVEC NOUS EN AIDANT ET EN FAISANT DES DON</h2>
                <div class="text">Toute aide financière compte donc dans la réalisation de nos actions auprès du public de Télimélé.</div>
                <div class="">
                    <a class="theme-btn btn-style-four" href="#">Nous rejoindre</a>
                    <a class="theme-btn btn-style-two" href="{{ path('front_don') }}">Faire un don</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
