{{ form_start(form) }}
<div class="form-group row">
    <label class="col-md-3 form-control-label">Nom</label>
    <div class="col-md-9">
        {{ form_widget(form.name,{'attr':{'class':"form-control"}}) }}
    </div>
</div>
<div class="form-group row">
    <label class="col-md-3 form-control-label">Email</label>
    <div class="col-md-9">
        {{ form_widget(form.email,{'attr':{'class':"form-control"}}) }}
    </div>
</div>
<div class="form-group row">
    <label class="col-md-3 form-control-label">Téléphone</label>
    <div class="col-md-9">
        {{ form_widget(form.phone,{'attr':{'class':"form-control"}}) }}
    </div>
</div>

<div class="form-group row">
    <label class="col-md-3 form-control-label">Adresse</label>
    <div class="col-md-9">
        {{ form_widget(form.address,{'attr':{'class':"form-control"}}) }}
    </div>
</div>
<div class="form-group row">
    <label class="col-md-3 form-control-label">Pays</label>
    <div class="col-md-9">
        {{ form_widget(form.country,{'attr':{'class':"form-control"}}) }}
    </div>
</div>
<div class="text-right">
    <input type="submit" class="btn btn-primary" value="Modifier">
</div>
{{ form_end(form) }}