{% extends "admin/base.twig" %}
{% block title %} Profil {{ member.name }} {% endblock %}
{% block content %}
    <style>
        .form-control {
            height: 40px;
            text-transform: uppercase;
            font-size: 17px;
            pointer-events: none;
            background: #ecf0f5;
        }
    </style>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{ member.name }}
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li><a href="{{ path('admin_members') }}"><i class="fa fa-dashboard"></i> Liste membres</a></li>
                <li class="active">Profil membre</li>
            </ol>
        </section>
        {% include "admin/inc/success_error.twig" %}

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <img class="profile-member-img img-responsive" style="max-width: 100%" src="{{ asset('upload/users/no-image.png') }}" alt="{{ member.name }}">
                            <h3 class="profile-membername text-center">{{ member.name }}</h3>
                        </div>
                        <!-- /.box-body -->
                    </div>

                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">A propos</h3>
                        </div>
                        <!-- /.box-header -->

                        <div class="box-body">
                            <strong><i class="fa fa-map-marker margin-r-5"></i> Adresse</strong>
                            <p class="text-muted">{{ member.adresse | default(' ') }}</p>
                            <p class="text-muted">{{ member.country | default('') }}</p>
                        </div>

                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#settings" data-toggle="tab">Détails</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="settings">
                                <div class="form-group">
                                    <label class="form-label" for="email">Votre adresse e-mail </label>
                                    <input class="form-control" type="email" name="email" id="email" value="{{ member.email }}">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="phone">Téléphone ou Facebook</label>
                                    <input class="form-control" type="text" name="phone" id="phone" value="{{ member.phone }}">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="age">Année de naissance</label>
                                    <input class="form-control" type="number" name="age" id="age" value="{{ member.age }}">
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->
    </div>

{% endblock %}