{% extends "admin/base.twig" %}
{% block title %} Evènement  {{ app_title }} {% endblock %}
{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Event header) -->
        <section class="content-header">
            <h1>
                Evènements
                <small>Liste evènements</small>
                <a href="{{ path('admin_add_event') }}" class="btn btn-primary" style="margin-left: 20px"><i class="fa fa-plus"></i> Ajouter</a>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Evènements</li>
            </ol>
        </section>

        {% include "admin/inc/success_error.twig" %}
        <form action="{{ path('admin_events') }}" class="form-inline">
            <section class="content">

                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title" style="float:left">LISTE EVÈNEMENTS</h3>
                                <div style="margin: 10px;float: right;">
                                    <div class="form-group">
                                        <!--<label>Sélectionnez l’action groupée</label>-->
                                        <select name="todo" class="form-control">
                                            <option value="9999">Actions groupées</option>
                                            <option value="-1">Supprimer</option>
                                            <option value="1">Publier</option>
                                            <option value="0">Dépublier</option>
                                        </select>
                                        <input type="submit" name="doaction" id="doaction" class="btn btn-primary action" value="Appliquer">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="title" placeholder="titre cours" value="{{ app.request.get('title') or "" }}">
                                        <select name="published" class="form-control">
                                            <option value="">Etat</option>
                                            <option value="1" {% if app.request.get('published') == '1' %} selected {% endif %}>Publiés</option>
                                            <option value="0" {% if app.request.get('published') == '0' %} selected {% endif %}>Non Publiés</option>
                                        </select>
                                        <input type="submit" name="doaction" id="post-query-submit" class="btn btn-primary" value="Filtrer">
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="box-body table-responsive no-padding">
                                    <table class="table table-striped">
                                        <tbody>
                                        <tr>
                                            <th>
                                                <div class="checkbox icheck">
                                                    <label>
                                                        <input type="checkbox" title="Tout sélectionner" id="select_all"/>
                                                    </label>
                                                </div>
                                            </th>
                                            <th>Titre</th>
                                            <th>Vue</th>
                                            <th>En ligne?</th>
                                            <th>Date</th>
                                        </tr>
                                        {% for event in events %}
                                            <tr>
                                                <td>
                                                    <input type="checkbox" class="uid" name="uid[]" value="{{ event.uid }}"/>
                                                </td>
                                                <td>
                                                    <a href="{{ path('front_event',{slug:event.slug}) }}" style="font-weight: 600" target="_blank" title="{{ event.title }}">{{ event.title }}</a>
                                                    <div class="row-actions">
                                                        <a style="color: #0e1555" href="{{ path('admin_edit_event',{uid:event.uid}) }}" title="{{ event.title }}">Modifier</a> |
                                                        <a class="delete" style="color: #c70f0f;" title="Supprimer l'evènement?" href="{{ path('admin_delete_event',{uid:event.uid}) }}">Supprimer</a>
                                                    </div>
                                                </td>
                                                <td>{{ event.vue }}</td>
                                                {% if event.published %}
                                                    <td>
                                                        <i class="fa fa-circle text-green"></i>
                                                    </td>
                                                {% else %}
                                                    <td>
                                                        <i class="fa fa-circle text-red"></i>
                                                    </td>
                                                {% endif %}
                                                <td>
                                                    du <strong>{{ event.beginAt | date('d/m/Y à H:i') }} </strong><br>
                                                    au <strong>{{ event.endAt | date('d/m/Y à H:i') }}</strong>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="box-footer clearfix">
                                {% include "admin/inc/pagination.twig" %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </section>
        </form>

        <!-- /.content -->
    </div>
{% endblock %}