{% extends "admin/base.twig" %}
{% block title %} Edition d'un evènement {% endblock %}
{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Event header) -->
        <section class="content-header">
            <h1>
                Evènements
                <small>Edition d'un evènement</small>
                <a href="{{ path('admin_events') }}" class="btn btn-primary" style="margin-left: 20px"><i class="fa fa-list-alt"></i> Liste evènements</a>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Evènements</li>
            </ol>
        </section>
        {% include "admin/inc/success_error.twig" %}
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">EDITION D'UN EVÈNEMENT</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">Titre</label>
                                        <div class="col-sm-10">
                                            {{ form_widget(form.title) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">Partenaires</label>
                                        <div class="col-sm-10">
                                            {{ form_widget(form.partenaires) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">Adresse</label>
                                        <div class="col-sm-10">
                                            {{ form_widget(form.location) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">Description</label>
                                        <div class="col-sm-10">
                                            {{ form_widget(form.content) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">Début</label>
                                        <div class="col-sm-10">
                                            {{ form_widget(form.beginAt) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">Fin</label>
                                        <div class="col-sm-10">
                                            {{ form_widget(form.endAt) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">Téléphone</label>
                                        <div class="col-sm-10">
                                            {{ form_widget(form.phone) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                            {{ form_widget(form.email) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">En ligne ?</label>
                                        <label for="published" class="minimal col-sm-10">
                                            {{ form_widget(form.published) }}
                                        </label>
                                    </div>
                                   
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">Ajouter une image</label>
                                        <div class="col-sm-10">
                                            {% if event is defined %}
                                                <div class="image-thumbnail">
                                                    <img src="{{ asset('upload/events/'~event.image) }}" alt="{{ event.title }}" class="img-responsive">
                                                </div>
                                                <input type="hidden" value="{{ event.image }}" name="previous_image">
                                                {{ form_widget(form.image) }}
                                            {% else %}
                                                {{ form_widget(form.image,{'required':'required'}) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer text-left">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Enregistrer</button>
                                <a class="btn" href="{{ path('admin_events') }}"><i class="fa fa-times"></i> Annuler</a>
                            </div>
                            {{ form_end(form) }}
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}